<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title></title>

		<base href="/">

		<link rel="icon" href="/application/favicon.ico">
		<link rel="stylesheet" href="/application/assets/stylesheets/style.css">
	</head>
	<body>
		{% include "partials/header.html" %}

		{% block content %} {% endblock %}

		{% include "partials/footer.html" %}

		<script src="/application/assets/scripts/application.js"></script>
	</body>
</html>
